extends layout

block content
    nav.navbar.navbar-default.navbar-fixed-top
        .container-fluid
            .navbar-header
                button.navbar-toggle(type='button', data-toggle='collapse', data-target='#my-navbar')
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand
                    img#brand-img(src='images/logo-rate-mate.png')
            #my-navbar.collapse.navbar-collapse
                ul.nav.navbar-nav.navbar-right
                    li
                        a(href='#my-carousel') HOME
                    li
                        a(href='#top') TOP 20
                    li
                        a(href='#products') PRODUCTS
                    li
                        a(href='#login') LOGIN
                    li
                        a(href='#sign_up') SIGN UP
                    li
                        a(href='#')
                            span.glyphicon.glyphicon-search
    #my-carousel.carousel.slide(data-ride='carousel')
        ol.carousel-indicators
            li.active(data-target='#my-carousel', data-slide-to='0')
            li(data-target='#my-carousel', data-slide-to='1')
            li(data-target='#my-carousel', data-slide-to='2')
        .carousel-inner(role='listbox')
            .item.active
                img(src='images/mate-bombilla.jpg')
                .carousel-caption
                    h3 Mate bombilla
            .item
                img(src='images/portada.jpg')
                .carousel-caption
                    h3 Portada
            .item
                img(src='images/yerba-mate-2.jpg')
                .carousel-caption
                    h3 Yerba mate
        a.left.carousel-control(href='#my-carousel', data-slide='prev')
            span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
            |
            span.sr-only Previous
        a.right.carousel-control(href='#my-carousel', data-slide='next')
            span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
            |
            span.sr-only Next
    #top.container.text-center
        h3 To bedzie top 20
