extends layout

block content
    nav.navbar.navbar-default.navbar-fixed-top
        .container-fluid
            .navbar-header
                a.navbar-brand Rate-mate
            #myNavbar.collapse.navbar-collapse
                ul.nav.navbar-nav.navbar-right
                    li
                        a(href='#myPage') HOME
                    li
                        a(href='#top') TOP 20
                    li
                        a(href='#login') LOGIN
                    li
                        a(href='#sign_up') SIGN UP
                    li
                        a(href='#')
                            span.glyphicon.glyphicon-search
