extends layout

block content
    nav.navbar.navbar-default.navbar-fixed-top
        .container-fluid
            .navbar-header
                button.navbar-toggle(type='button', data-toggle='collapse', data-target='#my-navbar')
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand
                    img#brand-img(src='images/logo-rate-mate.png')
            #my-navbar.collapse.navbar-collapse
                ul.nav.navbar-nav.navbar-right
                    li
                        a(data-target='#my-carousel') HOME
                    li
                        a(data-target='#top') TOP 20
                    li
                        a(href='/products') PRODUCTS
                    li
                        a(href='/login') LOGIN
                    li
                        a(href='/register') SIGN UP
                    li
                        a(href='#')
                            span.glyphicon.glyphicon-search
    #my-carousel.carousel.slide(data-ride='carousel')
        ol.carousel-indicators
            li.active(data-target='#my-carousel', data-slide-to='0')
            li(data-target='#my-carousel', data-slide-to='1')
            li(data-target='#my-carousel', data-slide-to='2')
        .carousel-inner(role='listbox')
            .item.active
                img(src='images/mate-bombilla.jpg')
                .carousel-caption
                    h3 Mate bombilla
            .item
                img(src='images/portada.jpg')
                .carousel-caption
                    h3 Portada
            .item
                img(src='images/yerba-mate-2.jpg')
                .carousel-caption
                    h3 Yerba mate
        a.left.carousel-control(href='#my-carousel', data-slide='prev')
            span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
            |
            span.sr-only Previous
        a.right.carousel-control(href='#my-carousel', data-slide='next')
            span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
            |
            span.sr-only Next
    #top.container.text-center
        h3 Top 20 products
        br
        br
        .row
            .col-sm-4
                a(href='#product' data-toggle='collapse')
                    img.img-responsive.img-circle(src='images/portada.jpg')
                br
                p.text-center
                    strong Opis
                #product.collapse
                    p Opis
            .col-sm-4
                a(href='#product2' data-toggle='collapse')
                    img.img-circle.img-responsive(src='images/portada.jpg')
                br
                p.text-center
                    strong Opis
                #product2.collapse
                    p Opis
            .col-sm-4
                a(href='#product3' data-toggle='collapse')
                    img.img-circle.img-responsive(src='images/portada.jpg')
                br
                p.text-center
                    strong Opis
                #product3.collapse
                    p Opis
        br
        br
        br
        .row
            .col-sm-4
                a(href='#product21' data-toggle='collapse')
                    img.img-circle.img-responsive(src='images/portada.jpg')
                br
                p.text-center
                    strong Opis
                #product21.collapse
                    p Opis
            .col-sm-4
                a(href='#product22' data-toggle='collapse')
                    img.img-circle.img-responsive(src='images/portada.jpg')
                br
                p.text-center
                    strong Opis
                #product22.collapse
                    p Opis
            .col-sm-4
                a(href='#product31' data-toggle='collapse')
                    img.img-circle.img-responsive(src='images/portada.jpg')
                br
                p.text-center
                    strong Opis
                #product31.collapse
                    p Opis
    footer.text-center
        a.up-arrow(href='#my-carousel', data-toggle='tooltip')
            span.glyphicon.glyphicon-chevron-up.footer-color
        br
        br
        p.footer-color
            strong Website made by Katarzyna Rzepecka and Robert Kasperczyk