extends layout

block content
    nav.navbar.navbar-default.navbar-fixed-top
        progress(value='0')
            .progress-container
                span.progress-bar
        .container-fluid
            .navbar-header
                a.navbar-brand
                    img#brand-img(src='images/logo-rate-mate.png')
            #my-navbar.collapse.navbar-collapse
                ul.nav.navbar-nav.navbar-right
                    li
                        a(href='#home') HOME
                    li
                        a(href='#top') TOP 20
                    li
                        a(href='#login') LOGIN
                    li
                        a(href='#sign_up') SIGN UP
                    li
                        a(href='#')
                            span.glyphicon.glyphicon-search
