doctype html
html
    head
        title= title
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    body#my-rate-mate-page(data-spy='scroll', data-target='.navbar', data-offset='50')
        nav.navbar.navbar-default.navbar-fixed-top
            .container-fluid
                .navbar-header
                    button.navbar-toggle(type='button', data-toggle='collapse', data-target='#my-navbar')
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand
                        img#brand-img(src='images/logo-rate-mate.png')
                #my-navbar.collapse.navbar-collapse
                    ul.nav.navbar-nav.navbar-right
                        li
                            a(href='/' data-target='#my-carousel') HOME
                        li
                            a(data-target='#top') TOP 5
                        li
                            a(href='/products' data-target='#products') PRODUCTS
                        if user.authenticated
                            li
                                a(href='/new-product' data-target='#new-product') ADD PRODUCT
                            if user.role == "admin"
                                li
                                    a(href='/users' data-target='#users') USERS
                                li
                                    a ADMIN username: #{user.username}
                            else
                                li
                                    a USER #{user.username}
                            li
                                form(method="POST", action="/logout")
                                    button#logout-button.btn-link.navbar-button.btn(type='submit') LOG OUT
                        else
                            li
                                a(href='/login' data-target='#login') LOGIN
                            li
                                a(href='/register' data-target='#register') SIGN UP
                        li
                            a(href='/search' data-target='#search')
                                span.glyphicon.glyphicon-search
        block content
        footer.text-center
            a.up-arrow(href='/', data-toggle='tooltip')
                span.glyphicon.glyphicon-chevron-up.footer-color
            br
            br
            p.footer-color
                strong Website made by Katarzyna Rzepecka and Robert Kasperczyk
