extends layout

block content
    .wrapper
        #login.form.form-signin(method="POST", action="/login")
            h2.form-signin-heading PLEASE LOG IN
            |
            input.form-control(type='text', name='username', placeholder='LOGIN', required='', autofocus='')
            |
            br
            input.form-control(type='password', name='password', placeholder='PASSWORD', required='')
            |
            br
            label.checkbox
                input#rememberMe(type='checkbox', value='remember-me', name='rememberMe')
                |  Remember me
            |
            br
            button.btn.btn-lg.btn-primary.btn-block(type='submit') LOGIN
            br
            a(href='/register' class='btn-link btn' type='submit') Don't have any account? Sign in!