extends layout

block content
    #login-wrapper.wrapper.col-sm-12
        #login.form.form-signin.col-sm-4.col-sm-offset-4(method="POST", action="/login")
            h2.form-signin-heading PLEASE LOGIN
            |
            input.form-control.my-form(type='text', name='username', placeholder='LOGIN', required='', autofocus='')
            |
            br
            input.form-control.my-form(type='password', name='password', placeholder='PASSWORD', required='')
            |
            br
            label.checkbox.my-form
                input#rememberMe(type='checkbox', value='remember-me', name='rememberMe')
                |  Remember me
            |
            br
            #login-button.button.btn.btn-lg.btn-primary.btn-block.my-form(type='submit') LOGIN
            br
            a(href='/register' class='btn-link btn' type='submit') Don't have any account? Sign in!