extends layout
block content
    #products.container
        each product in products
            slideanim
                .col-sm-4
                    .thumbnail
                        a(href="/product/"+product._id)
                            .image
                                img.img-responsive(src=product.imagePath)
                            p
                                strong #{product.name}
                            p #{product.description}
                            br
                            br
                            .stars
                                form(method="POST", action='/product/'+product._id)
                                    input#star-5.star.star-5(type='submit', name='star')
                                    label.star.star-5(for='star-5')
                                    |
                                    input#star-4.star.star-4(type='submit', name='star')
                                    label.star.star-4(for='star-4')
                                    |
                                    input#star-3.star.star-3(type='submit', name='star')
                                    label.star.star-3(for='star-3')
                                    |
                                    input#star-2.star.star-2(type='submit', name='star')
                                    label.star.star-2(for='star-2')
                                    |
                                    input#star-1.star.star-1(type='submit', name='star')
                                    label.star.star-1(for='star-1')