extends layout
block content
    #products.container
        each product in products
            slideanim
                .col-sm-4
                    .thumbnail
                        img(src="#{product.imagePath}", width='400', height='300')
                        p
                            strong #{product.name}
                        p #{product.description}
                        br
                        br
                        p #{product.rating}
                        .rating
                            span &star;
                            span &star;
                            span &star;
                            span &star;
                            span &star;