extends layout
block content
    #my-rating.container
        .table-responsive
            table.table
                thead
                    tr
                        th Product ID
                        th Rating(taste/power/dust)
                tbody
                    each rating in ratings
                        tr
                            td
                                a(href='/product/' + rating.productID) #{rating.productID}
                            td #{rating.tasteRating}/#{rating.powerRating}/#{rating.dustRating}