extends layout

block content
    #search.login-register-wrapper.wrapper.col-sm-12
        div.col-sm-6.col-sm-offset-3.col-md-4.col-md-offset-4
            a(href='#')
                #magnif.span.glyphicon.glyphicon-search
            wrapper.col-sm-12
                input.form-control.my-form(type='text', name='search', placeholder='SEARCH', required='', autofocus='')

