extends layout

block content
    a(href='#')
        span.glyphicon.glyphicon-search
    #login.login-register-wrapper.wrapper.col-sm-12
        input.form-control.my-form(type='text', name='search', placeholder='SEARCH', required='', autofocus='')

