extends layout
block content
    #users.container
        .table-responsive
            table.table
                thead
                    tr
                        th Id
                        th Username
                        th E-mail address
                        th Role
                        th Action
                tbody
                    each user in users
                        tr
                            td #{user._id}
                            td #{user.username}
                            td #{user.email}
                            td #{user.role}
                            td
                                form(method="POST" action='/users/' + user.username)
                                    button.btn.btn-danger(type='submit') DELETE